* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 20px 20px !important;
}

.container_post {
    width: 100vw !important;
    margin: 20px 0px !important;
    display: flex !important;
    flex-wrap: wrap !important;

    .in_img {
        width: 100% !important;
        border-radius: 15px !important;
    }

}

.container {
    width: 100vw !important;
    margin: 20px 0px !important;
}

.container .card {
    width: 220px !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
    padding: 10px !important;
    border: 1px solid rgba(0, 0, 0, 0.552) !important;
    border-radius: 15px !important;
}

.fa-eye {
    height: 20px !important;
    color: rgba(0, 0, 0, 0.552) !important;

}

.btn {
    margin-top: 3px !important;
}

.form-control {
    margin-bottom: 20px !important;

}

.log {
    font-weight: 400 !important;
    font-size: xx-large !important;
    color: rgba(10, 10, 10, 0.903) !important;
    font-style: italic !important;
    background-color: rgba(250, 235, 215, 0.317) !important;

}

.col-md-8 {
    a {
        color: rgba(56, 53, 53, 0.461);
        text-decoration: none;
    }

    a:hover {
        color: rgba(22, 20, 20, 0.543);
        cursor: pointer !important;
    }
}